* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 10rem;

}

@font-face {
    font-family: lato;
    src: url(Lato-Bold.ttf);
}

@font-face {
    font-family: amita;
    src: url(Amita-Bold.ttf);
}

@font-face {
    font-family: manav;
    src: url(Yantramanav-Black.ttf);
}
.image-slides img{
    height: 200px;
    width: 300px;
}
body {
    background-color: #ccd5ae;
    background-image: url(./Images/Arj_web\ banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;

}

&::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

li {
    display: inline;
    padding-left: 20px;
    text-align: center;
    font-size: 25px;
    font-family: 'Merriweather', serif;
}

a {
    text-decoration: none;
    color: #283618;
}

ul {
    text-align: center;
}

.navbar {
    padding-top: 10px;
}
li a::before{
    content: "";
    position: absolute;
    background-color: #283618;
    height: 3px;
    width: 50px;
    transform: scaleX(0);
    transition: transform 0.3s linear;
}

li a:hover::before{
    transform: scaleX(1);
}

.navbar  {
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.342);
}

h1 {
    text-align: center;
    font-size: 80px;
    color: #283618;
    margin-top: 580px;
    cursor:alias;
}


h1::before {
    content: "";
    position: absolute;
    margin-top: 80px;
    height: 6px;
    width: 800px;
    background-color: #283618;
    border-radius: 50px;
    transform: scaleX(0);
    transition: transform 1s linear;
}

h1:hover::before {
    transform: scalex(1);
}


.poster {
    margin-left: 20px;
    margin-top: 30px;
    height: 400px;
    width: 380px;
    border: #283618 solid 1px;
    border-radius: 20px;
    overflow:hidden;
    transition: all ease 2s;
}


.poster img{
    height: 100%;
    transition: all ease 2s;
    width: 100%;

}
.poster:hover img {
    transform: scale(1.4);
}
.poster:hover{
    box-shadow: 8px 8px 10px #283618;
    transform: scale(0.9);
}
.about {
    margin-left: 500px;
    margin-top: -380px;
    font-size: 30px;
    color: #606c38;
    font-family: 'Merriweather', serif;
}

.arj {
    margin-left: 500px;
    font-size: 50px;
    color: #606c38;
}

.description{
    height: 500px;
    width: 800px;
    font-size: 30px;
    color: #283618;
    margin-left: 30% ;
}

.pera {
    margin-left: 100px;
}

.services {
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #283618;
    font-size: 30px;
}

.box {
    background-color: #faedcd;
    height: 250px;
    width: 450px;
    align-items: center;
    font-family: 'Merriweather', serif;
    justify-content: center;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 40px;
    display: inline-flex;
    overflow: hidden;
    transition: all ease 1s;
}

.box:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 10px #283618;
}
.box img{
    height: 260px;
    transition: all ease 1s;
    width: 470px ;
    border-radius: 20px;
}
.box:hover img {
    transform: scale(1.4);
}
.box:hover{
    box-shadow: 8px 8px 10px #283618;
    transform: scale(0.9);
}
.contact {
    height: 250px;
    width: 1500px;
    border-radius: 10px;
    margin: 0px 20px 10px 20px;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 30px;
    color: #7f5539;
    background-color: #ddb58f;
}

.contact h3 {
    text-align: center;
}

.detail h4 {
    color: white;
    padding-left: 20px;
    font-size: medium;
    display: inline;
    margin-left: 18%;
}

.detail h4::after {
    content: "";
    position: absolute;
    margin-top: 20px;
    height: 200px;
    width: 100px;
    border-radius: 20px;
    z-index: 0;
}